:root{
--corpo:#1D232A;
--fonte:#FFFFFF;
--cabecalhoMobile:#15191c;
--sombras:0px 4px 4px rgba(0, 0, 0, 0.16);
--fonteAlternativa:#95999C;
}

@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body{
    background-color:var(--corpo);
    font-family: 'Open Sans','icones',sans-serif;
    color:var(--fonte) ;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cabecalhoMobile);
    padding: 8px 16px;
    box-shadow:var(--sombras) ;
}

.cabecalho__menu i::before{
    content: '\e904';
    font-size: 24px;
}

.cabecalho__notificacao i::before{
    content: '\e906';
    font-size: 24px;
}

.cabecalho__logo{
    width: 40px;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: var(--cabecalhoMobile);
    width: 75vw;
    height: 100vh;

    /*para esconder o menu, funcionar apenas com o click' */
    position: absolute;
    left: -100vw;
    transition: .25s;
    z-index: 99;
}

/*Criando a classe para remover o menu lateral. */

.menu-lateral--ativo{
    left: 0;
    transition: .25s;
}

.menu-lateral__logo{
    width: 110px;
    align-self: center;
    padding: 16px;
}

.menu__lateral__link{
    height: 64px;
    color: var(--fonteAlternativa);
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu__lateral__link--ativo{
    color: var(--fonte);
    padding-left: 56px;
    border-left: 8px solid var(--fonte);
}

.menu__lateral__link::before{
    content: '';
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu__lateral__link--inicio::before{
    content: '\e902';
}

.menu__lateral__link--videos::before{
    content: '\e90e';
}
.menu__lateral__link--picos::before{
    content: '\e909';
}
.menu__lateral__link--integrantes::before{
    content: '\e903';
}
.menu__lateral__link--camisas::before{
    content: '\e900';
}
.menu__lateral__link--pinturas::before{
    content: '\e90a';
}